<!-- Header Container -->
<div class="header">
  <!-- Left: Title -->
  <h1 class="title">Daily Grind</h2>

  <!-- Right: Subtitle -->
  <h2 class="subtitle"> Organize your life. </h2>  
</div>


<div class="login-container">
  <div class="login-box">
    <i class="fa-solid fa-pen-to-square logo"></i>
    <h2>Sign In</h2>

    <%= form_with(url: '/login', class: "login-form") do |f| %>
      <p class="input-field">
        <%= f.label 'Username' %>
        <%= f.text_field :username, class: "input-box" %>
      </p>
      <p class="input-field">
        <%= f.label 'Password' %>
        <%= f.password_field :password, class: "input-box" %>
      </p>

      <p class="login-button">     
        <%= f.submit "Login", class: "btn-login" %>
      </p>
    <% end %>

    <p class="signup-link">
      Don't have an account? <%= link_to 'Signup', signup_path, class: "signup-btn" %>
    </p>
  </div>
</div>
